<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="JustCRC32C" version="1.2.0" manuallyInstalled="true" />
  <package id="NaCl.Net" version="0.1.13" manuallyInstalled="true" />
  <package id="Portable.BouncyCastle" version="1.9.0" />
  <package id="TonSdk.Connect" version="0.2.3" manuallyInstalled="true" />
  <package id="TonSdk.Core" version="0.3.1" manuallyInstalled="true" />
  <package id="ZXing.Net" version="0.16.9" manuallyInstalled="true" />
</packages>